<div id="<%= dom_id product_stock %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= product_stock.product_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Size:</strong>
    <%= product_stock.size %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= product_stock.quantity %>
  </p>

  <% if action_name != "show" %>
    <%= link_to 'Show this stock', [:admin, product_stock.product, product_stock], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this stock", edit_admin_product_product_stock_path(product_stock.product, product_stock), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
